<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue select image 2 plugin</title>
	  <meta name="language" content="en-EN" /><meta name="author" content="thisninja" />

    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
    <% } %>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
    <% } %>

    <style>
      .header{-webkit-box-shadow:0 1px 2px rgba(0,0,0,.075);-moz-box-shadow:0 1px 2px rgba(0,0,0,.075);box-shadow:0 1px 2px rgba(0,0,0,.075);position:fixed;top:0;left:0;z-index:100;width:100%;height:60px;background:rgba(255,255,255,.95294)}.header__wrapper{display:flex;justify-content:space-between;align-items:center}.header__brand{display:flex;justify-content:space-between;align-items:center;margin:.2em}.header__brand img{width:50px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.header__title{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;font-style:normal;font-size:1.8rem;font-weight:500;margin-left:.5em}.app{margin-top:70px}a{color: #51a7e8;text-decoration: none;}a:focus {text-decoration: none;}
    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25065548-2"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-25065548-2');</script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
